clickhouse/data
mysql/data
mysql/logs
postgres/data
mongodb/data
nexus/data
log
*.pyc
*.db
sonarqube/sonarqube
sonarqube/db
elastic/deploy
elastic/data
elastic/conf/elasticsearch/
elastic/conf/kibana/
elastic/conf/auditbeat/
elastic/conf/filebeat/
elastic/conf/metricbeat/
elastic/conf/packetbeat/
elastic/conf/heartbeat/
