clickhouse/data
mysql/data
mysql/logs
postgres/data
mongodb/data
nexus/data
nexus/user
log
*.pyc
*.db
sonarqube/sonarqube
sonarqube/db
elastic/deploy
elastic/data
elastic/conf/elasticsearch/
elastic/conf/kibana/
elastic/conf/auditbeat/
elastic/conf/filebeat/
elastic/conf/metricbeat/
elastic/conf/packetbeat/
elastic/conf/heartbeat/
elastic/conf/apm/
jenkins/jenkins_home/
nginx/https/logs/
code-server/data/
code-server/project/
