mysql/data
postgres/data
mongodb/data
nexus/data
log
*.pyc
*.db
sonarqube/sonarqube
sonarqube/db
elastic/deploy
elastic/data
elastic/conf/metricbeat.yml
elastic/conf/packetbeat.yml
elastic/conf/filebeat.yml
elastic/conf/auditbeat.yml
elastic/conf/apm-server.yml
