#
# The MySQL  Server configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
log_error      = /var/log/mysql/error.log
# By default we only accept connections from localhost
#bind-address   = 127.0.0.1
general_log             = 1
general_log_file        = /var/log/mysql/mysql.log

slow_query_log         = 1
slow_query_log_file     = /var/log/mysql/mysql-slow.log
long_query_time = 2
log_queries_not_using_indexes   = 1
log_slow_admin_statements       = 1

[mysqld_safe]
log_error=/var/log/mysql/mysql-error.log
